<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center ">
            <span><i class="fab fa-node-js fa-5x m-2"></i></span>
            <h1 class="mb-1">Expense Tracks</h1>
            <h3 class="mb-5">
                <em>Manage your Expense Tracks</em>
            </h3>
            <a href="/api/auth/signin" class="btn btn-primary">
                    START NOW
            </a>
        </div>
    </header>
</main>
