<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a href="/" class="navbar-brand">Expense Tracks ({{user.username}})</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggle-ico"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {{#if user}}
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Accounts
                                
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/api/accounts/list">My Accounts</a>
                                <a class="dropdown-item" href="/api/accounts/create">New Account</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Incomes
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/api/incomes/list">My Incomes</a>
                                <a class="dropdown-item" href="/api/incomes/create">New Income</a>
                            </div>
                        </li>
                     {{!--    <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Categories
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="../categories/list">All Categories</a>
                                <a class="dropdown-item" href="../categories/create">New Category</a>
                            </div>
                        </li> --}}
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Expenses
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="../expenses/list">All Expense</a>
                                <a class="dropdown-item" href="../expenses/create">New Expense</a>
                            </div>
                        </li>
                      {{!--   <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Transfer
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="../accounts/list">All Transfers</a>
                                <a class="dropdown-item" href="../accounts/create">New Transfer</a>
                            </div>
                        </li> --}}
                        
                        <li class="nav-item">
                            <a href="/api/records/list/{{user.id}}" class="nav-link">Records</a>
                        </li>
                        <li class="nav-item">
                            <a href="/api/auth/logout" class="nav-link">Logout</a>
                        </li>
                    {{else}}
                         <li class="nav-item">
                            <a href="/api/auth/signup" class="nav-link">Register</a>
                        </li>
                         <li class="nav-item">
                            <a href="/api/auth/signin" class="nav-link">Login</a>
                        </li>
                    {{/if}}
          
                  
                </ul>
            </div>
    </div>
   
</nav>